.Header {
  margin-top: .5rem;
  padding-left: 10px;
}

.Header ul li {
  list-style: none;
  margin: 0;
  border-radius: 3px;
}

.Header ul li a {
  display: block;
  padding: .5rem 1rem;
}

.Header ul li:hover {
  background-color: #444;
}

.Header a:hover {
  text-decoration: none;
}

.Header h3 a {
  color: white;
}

.Header h3 a:hover {
  color: #00bc8c;
}

.Header button {
  height: 2.2rem;
  margin-top: 3px;
}